<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/mainLayout :: mainLayout(~{::#title}, ~{fragments/navbar :: navbar}, ~{::#content})}">
<head>
    <meta charset="UTF-8">
    <title id="title">QMaker - New</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div id="content">
    <div th:each="quiz: ${quizzes}">
        <div class="bg-white flex flex-col text-left p-4 my-2">
<!--            <p th:text="${quiz.id}"></p>-->
            <p th:text="${quiz.name}"></p>
        </div>
    </div>
</div>
</body>
</html>